<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Активности.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Активности.Properties.Settings>
            <setting name="set_nec_guild10" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_nec_guild_build" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_nec_ostrov" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_nec_pack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_min_Arena4Gods" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_min_Bath" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_min_BlackMarket" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_min_KeepersWeek" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_min_KeepersDay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_des_Steps25" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_des_Brakteat5Quest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_des_Jumps" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_Barbarians" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_Northerners" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_BambooVillage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_CentralCity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_Steps120" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_Cruise" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_Mushrooms" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_Falmary" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_Bear" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="set_scient" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="last_used_day" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
        </Активности.Properties.Settings>
    </userSettings>
</configuration>
